/* font-family: 'Mulish', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background: #121214;
  font-family: "Mulish", sans-serif;
  font-size: 1.6rem;
  padding: 7.2rem 10.4rem;
  display: grid;
  justify-content: center;
}

header h1 {
  font-size: 5.9rem;
  font-weight: 900;
  line-height: 7.3rem;
  color: #02799d;
}

header p {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 4rem;
  margin-bottom: 6.2rem;
  color: #e1e1e6;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4.8rem 6rem;
}

.card {
  background: #202024;
  border: 0.2rem solid #323238;
  border-radius: 0.8rem;
  cursor: pointer;
}

.card:hover {
  background: #424249;
}

.card h2 {
  color: #e1e1e6;
  font-weight: 900;
  font-size: 3.5rem;
  padding: 2.4rem 3.2rem 0;
}

.card p {
  color: #c4c4cc;
  font-weight: 600;
  font-size: 2rem;
  padding: 2.4rem 3.2rem 3.2rem;
}
